/**********************************
                About
**********************************/
body{
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-areas:
        "top"
        "main"
        "footer";
        height: 100vh;
}

.about__top{
    grid-area: top;
    padding: 30px;
}

.hamburger-top{
    color: black;
}

.about__content{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #586C7F;
}

.footer__bottom__content{
    color: white;
}